// ------------------------------------
//  VARIABLES
// ------------------------------------

$text-color: #333;
$secondary-text: #0d2611;
$primary-color: #40c057;

// ------------------------------------
//  GENERAL REUSABLE
// ------------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 9.6rem 4.8rem;
}
