// ------------------------------------
//  VARIABLES
// ------------------------------------

$text-color: #333;
$primary-color: #40c057;

// ------------------------------------
//  GENERAL REUSABLE
// ------------------------------------
