@import "general.scss";

// ---------------------------------
// SECTION HERO
// ---------------------------------

.section-hero {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6.4rem;
    background-image: linear-gradient(to bottom right, #69db7c, $primary-color);
    padding: 0 6.4rem 0 4.8rem;
    justify-items: center;
    border-radius: 11px;
  }

  .hero-text-box {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }

  .hero-text {
    font-size: 4.8rem;
    letter-spacing: -1.4px;
    font-weight: 700;
    color: $secondary-text;
    margin-top: 4.8rem;
  }

  .btn-hero:link,
  .btn-hero:visited {
    text-decoration: none;
    font-size: 2rem;
    background-color: $secondary-text;
    color: #fff;
    padding: 1.4rem 2.8rem;
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 500;
    border-radius: 11px;
    transition: all 0.3s;
  }

  .btn-hero:hover,
  .btn-hero:active {
    background: none;
    box-shadow: inset 0 0 0 2px $secondary-text;
    color: $secondary-text;
  }

  .hero-img {
    width: 100%;
    border-radius: 11px;
    transform: scale(1.15);
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.07);
  }
}
